.page-label {
    color: #000;
    font-family: "Satoshi Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.72px;
}